[Desktop Entry]
Type=Application
Name=Clint Tools
Exec=Clint Tools
Comment=Digital Audio Workstation (DAW)
Icon=clinttools
Categories=System;
#Terminal=true
